.projectsBlock {
  background-color: #1f1f20;;
  flex-wrap: wrap;
  padding: 100px 0;

  .projectsContainer {
    border: 0px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .project {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: 0px solid;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}





