.projectsBlock{
    background-color: #1f1f20;;flex-wrap: wrap;
    padding: 100px 0;

}
.projectsContainer{
    border: 0px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}
.title{
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}
.title h2 {
    margin: 0;
    font-weight: 300;
}
.title::before {
    content: "";
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,50%);
}

.project{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 624px) {
        .project {
            justify-content: center;
        }
}