@import "../common/styles/sass/variables";
.nav {
    /*//граница: всегда 2 значения - толщина и тип solid-сплошная    */
    width: 300px;
    display: flex;
    justify-content: space-evenly;

    .list {
        color:$textColorPicture;
        font-family:$textFontFamily;
    }
}