@import "../common/styles/sass/variables";
.nav {
    /*//граница: всегда 2 значения - толщина и тип solid-сплошная    */
    width: 300px;
    display: flex;
    justify-content: space-evenly;

    .list {
        cursor: pointer;
        text-decoration: underline;
        color:$textColorPicture;
        font-family:$textFontFamily;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
    .active{
        color: white;
    }
}