
.title{
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}
.title h2 {
    margin: 0;
    font-weight: 300;
}
.title::before {
    content: "";
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,50%);
}

