@import '../../styles/sass/variables';

.title {
  margin: 0 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  color:$textColor;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    background: $textColorPicture;
    width: 55px;
    height: 1px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .title h2 {
    margin: 0;
    font-weight: 300;

  }
}

