@import '../common/styles/sass/variables';
@import '../common/components/button/Button.module';

.contactsBlock {
  min-height: 50vh;
  background-color: $bgSecondColor;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;

    .contacts {
      width: 500px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 500px) {
        width: 100%;
      }

      .inputName {
        font: 400 14px/1.8 'Poppins', sans-serif;
        color: #495057;
        overflow-x: hidden;
        background: #1f1f20 !important;
        border: 1px solid #4a4a4a;
        font-size: 12px;
        padding: 0 15px;
        border-radius: 0;
        box-shadow: none;
        display: block;
        margin-bottom: 10px;

      }

      .inputEMail {
        font: 400 14px/1.8 'Poppins', sans-serif;
        color: #495057;
        overflow-x: hidden;
        background: $bgColor !important;
        border: 1px solid #4a4a4a;
        font-size: 12px;
        padding: 0 15px;
        border-radius: 0;
        box-shadow: none;
        display: block;


      }

      .textarea {
        font: 400 14px/1.8 'Poppins', sans-serif;
        padding: 0 15px;
        color: #495057;
        height: auto;
        background: $bgColor !important;
        border: 1px solid #4a4a4a;
        font-size: 12px;
        border-radius: 0;
        box-shadow: none;
        overflow: auto;
        resize: vertical;
        line-height: 1.5;
        height: 110px;
      }

      .button {
        align-self: center;
        background-color: transparent;
        margin-top: 30px;
        @extend .btn;
      }
    }
  }
}


