.skillsBlock {
    min-height: 100vh;
    background-color: #335909;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #444242;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}